# Maven
target/
staging-settings.xml
.polyglot.pom.scala
.polyglot.pom.scala.asc
.mvn.polyglot/
pom.xml

# Eclipse
.classpath
.project
.settings/
.cache-main
.cache-tests
.scala_dependencies
bin/
target-ide/

# Idea
*.iml
.idea

# Mill
out/
