# Maven
target/
staging-settings.xml
.polyglot.pom.scala
.polyglot.pom.scala.asc

# Eclipse
.classpath
.project
.settings/
.cache-main
.cache-tests
.scala_dependencies
bin/

# Idea
*.iml
.idea

# Mill
out/
